:root {
  --primary-color: #e0db9a;
  --primary-bg-color: #e0d973;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.heading,
.footer {
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 9vh;
}

h1 {
  color: rgb(185, 53, 53);
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: black;
  letter-spacing: 1rem;
}

.btn-translate {
  padding: 7px;
  font-size: 1rem;
  position: absolute;
  left: 47%;
  margin: 1.3rem 0;
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
}

.text {
  text-align: center;
  margin-top: 4.5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

#txt-input {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  color: var(--primary-color);
  background-color: rgb(20, 20, 18);
  border: none;
}

.output {
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
  height: 9rem;
  border: 2px solid black;
  border-radius: 2px;
  color: var(--primary-color);
  background-color: rgb(34, 34, 31);
}
