:root {
  --primary-color: rgb(185, 53, 53);
  --color-1: #f43f5e;
  --color-2: #fca5a5;
  --color-3: #fdba74;
  --color-4: #fbbf24;
  --color-5: #bef264;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.heading,
.footer {
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 9vh;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: black;
  letter-spacing: 1rem;
}

h4 {
  color: var(--primary-color);
  text-align: center;
  padding-top: 0.3rem;
  font-size: 1rem;
  font-weight: 300;
}

.btn-translate {
  padding: 7px;
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  left: 41%;
  margin: 1.3rem 0;
  color: var(--primary-color);
  background-color: transparent;
  border: 3px solid;
  border-radius: 5px;
  cursor: pointer;
}

.text {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  letter-spacing: 0.4rem;
}

#txt-input {
  width: 50%;
  height: 9rem;
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  color: var(--primary-color);
  background-image: linear-gradient(
    to top left,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4)
  );
  border: none;
}

.output {
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
  height: 9rem;
  border: 2px solid black;
  border-radius: 2px;
  color: var(--primary-color);
  background-image: linear-gradient(
    to top left,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4)
  );
}
